<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it" ng-app="Quizzipedia" ng-controller="login_ctrl as ctrl">
	<head>
	  <title>Login | Quizzipedia</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="title" content="Login"/>
	  <meta name="author" content="Miki Violetto, Giacomo Beltrame"/>
	  <meta name="language" content="italian it"/>
	  <meta name="viewport" content="width=device-width, user-scalable=no"/>
	  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
	  <link rel="icon" href="../../images/favicon_tracker.png" type="image/ico"/>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="../../stylesheet/style.css" type="text/css" media="screen"/>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
	  <script src="../app/angular_app.js"></script>
	</head>
	<body id="main">
		Ciao {{ ctrl.name }}, pagina di login!
	</body>
</html> 