<!DOCTYPE html>
<html lang="en" ng-app="registration">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Sign up</title>

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

  <!-- quizzipedia.base.css -->
  <link href="./view/css/quizzipedia.base.css" rel="stylesheet">
  
  <!-- Merge others eventually -->
    <link href="./view/css/forms.css" rel="stylesheet">

    <script type="text/javascript" src="./controller/CtrlData.js" ></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container" ng-controller="CtrlData">
  
      <form class="form" ng-submit="user.sendRegistration()">
        <h2 class="form-heading">Sign up</h2>
    <div class="form-group row">
      <label for="inputFirstName" class=" form-control-label small" style="width:auto">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="First name" ng-model="user.firstName" required autofocus>
    </div>
    <div class="form-group row">
      <label for="inputLastName" class=" form-control-label small" style="width:auto">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Last name" ng-model="user.lastName" required>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class=" form-control-label small" style="width:auto">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
    </div>
    <div class="form-group row">
      <label for="inputConfirmEmail" class=" form-control-label small" style="width:auto">Confirm email address</label>
      <input type="email" class="form-control" id="inputConfirmEmail" placeholder="Confirm email" ng-model="user.cemail" required>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class=" form-control-label small" style="width:auto">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
    </div>
    <div class="form-group row">
      <label for="inputConfirmPassword" class=" form-control-label small" style="width:auto">Confirm password</label>
      <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" ng-model="user.cpassword" required>
    </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="notARobot"> I'm not a robot
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>