<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="userApp">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Users | Quizzipedia</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="./controller/usercontroller.js"></script> <!-- load up our controller -->
	<script src="./service/userservice.js"></script> <!-- load up our service -->
	<script src="./core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body>
	<div class="container" ng-controller="uc as a">
		<div ng-repeat="user in a.users">
			{{ user.name }} {{ user.surname}}
		</div>
	</div>

</body>
</html>