	<div class="container">
		<ul class="nav nav-pills col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
			<li class="active"><a data-toggle="pill" href="#createInst">Creazione ente</a></li>
		  <li><a data-toggle="pill" href="#comm">Comunicazioni</a></li>
		</ul>
		
		<div class="tab-content">
		<!-- panel 1 -->
            <div id="createInst" class="tab-pane fade in active answContainer">
				<div class="form">
                    <form ng-submit = "createInst()">
					<h3 class="text-center">Creazione ente</h3>
					<div class="row">
                        <label class="space">Mail del responsabile:</label>
                            <input type="email" class="form-control" placeholder = "Inserire mail" required autofocus ng-model = "instDir">
                            <div class="spacer"></div>
                        <label class="space">Nome ente:</label>
                            <input type = "text" class="form-control" placeholder = "Inserire nome ente" ng-model = "instName" required>
                         <span data-placement="top"  data-toggle="tooltip" title="Crea"><button type = "submit" class="btn pull-right" data-title="Crea"><span class="glyphicon glyphicon-plus"></span> Crea</button></span>
					</div>
                    </form>
				</div>
			</div>  
			
			<!-- panel 2 -->            
            <div id="comm" class="tab-pane fade adminPanel">
                <h3 class="text-center">Comunicazioni</h3>
				  <table class="table table-hover table-compact qTable">  
					  <thead>
						  <th><i class="glyphicon glyphicons-note"></i> Contatto</th>
						  <th><i class="glyphicon glyphicons-message-plus"></i> Messaggio</th>
						  <th></th>
					  </thead>
					  <tbody>
						<tr ng-repeat="(index, msg) in communications"><!-- for each quiz -->
							<td>{{msg.email}}</td>
							<td>{{msg.message}}</td>
							<td>
								<span data-placement="top" data-toggle="tooltip" title="Elimina"><button class="btn btn-danger  pull-right" data-title="Elimina" ng-click="removeCommunication(msg._id, index)" ><span class="glyphicon glyphicon-trash"></span> Elimina</button></span>
							</td>
						</tr>
					  </tbody>
				  </table>
				  <!-- end of table -->
			</div>
			
	</div>
</div>