@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
	margin:0;
	padding:0;	
	width: 100%;
	height: 100%;
}

body{
    font-family: 'Quicksand', sans-serif;
	color: #333333;
}


.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	color: #22A7F0;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

h6.description, h4.description, h3.description{
	border-bottom: 1px solid rgba(0, 0, 0,0.3);
	padding-bottom: 5px;
}

.spacer {
	height: 20px;
	width: 100%;
}

.center-div {
	margin: 0 auto;
	width: 90%;
}

.btn {
	border-radius: 0px;
}

.btn-wrap {
	white-space: normal;
}

.btn-primary {
	background-color: #22A7F0;
	border-color: #22A7F0;
}

.btn-success{
	background-color: #179917;
	border-color: #179917;
}

.btn-danger{
	background-color: #e14825;
	border-color: #e14825;
}

.qTable {
	margin-top: 10px;
}

.qTable tbody tr:hover td, .qTable tbody tr:hover th {
  
}

/* row padding */
.qTable>tbody>tr>td {
	padding: 2px;
	padding-left: 8px;
}

.qTable .btn {
	padding:10px 15px;
}

.qTable thead{
	background-color: #22A7F0; 
	color: white;
	text-transform: uppercase;
}

.qSearchBar .qTable {
	min-width:100%;
}

.btn-create {
	margin-bottom: 10px;
	padding:10px 15px;
}

.breadcrumb-div {
	padding-bottom: 45px;
	  z-index: 10;
}

.breadcrumb {
	 position: fixed;
	 width: 100%;
     background-color: #22A7F0;
     border-radius: 0;
     -moz-border-radius: 0;
     -webkit-border-radius: 0;
     -o-border-radius: 0;
	  z-index: 15;
}

.breadcrumb, .breadcrumb a {
    color: #333333;
}

.breadcrumb a:hover {
     text-decoration: none;
	 color: white;
}

.breadcrumb > .active {
     color: white;
}

.breadcrumb > li + li:before {
     content: "\00BB";
     color: #333333;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color:  #22A7F0;
}
 
 .panel-default i{
	color: #22A7F0;
}

.panel-default .panel-footer{
	background-image: none;
    background-color: #22A7F0;
	color: white;
}

.panel-default .panel-footer i {
	color:white;
}

.panel-default .badge {
	/* background-color: #22A7F0;*/
}

.hiddenText {
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#showText:hover .hiddenText {
  visibility: visible;
  opacity: 1;
}
.hiddenText {
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#showText:hover .hiddenText {
  visibility: visible;
  opacity: 1;
}

.inline {
	display: inline-block;
}

.huge{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #e14825;
}

.adminPanels .panel-default .label-danger{
	background-color: #ffcb35;
}

.qPanel {
	margin-top:20px;
	max-width:800px;
	margin: 10px auto;
	height: 100%;
	font-size: 1.1em;
}

.qPanel .panel-heading {
	background-image: none;
    background-color: #22A7F0;
	color: white;
}

.panel-default .panel-heading i, .yellow-glyphs span{
	color: #ffcb35;
}

 .qPanel .panel-heading h6 {
	 color: white;
 }

.qPanel a{
	text-decoration: none;
	color: #22A7F0;
}

.qPanel .panel-body {
	background-color: #eeeeee;
}

.instClass {
	padding: 5px 20px;
	margin-bottom: 10px;
}

.tinybox {
	width: 150px;
	min-height: 80px;
	max-height: 160px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin-top: 5px;
	box-shadow: 0 0 3px #eeeeee;
	background-color: white;
}

.no-resize {
    resize: none;
}

/* .wordwrap { 
   white-space: pre-wrap;     
   white-space: -moz-pre-wrap;  
   white-space: -pre-wrap;     
   white-space: -o-pre-wrap;      
   word-wrap: break-word;   
} */

.tinybox p{
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: #22A7F0;
	text-transform: uppercase;
	font-weight: bold;
}

.qPanel .panel-title {
	padding-top: 15px;
	font-size: 1.5em;
}

.quizDescr {
	max-width: 400px;
	margin: 20px auto;
}

.quizDescr .panel-body {
	background-color: white;
}

#startQuiz{
	width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.adminPanels {
	margin: 0 auto;
}

/* .nextBtn {
	margin-right: 20px;
}
 */

.diffStars {
	margin-left: 35px;
} 
 
 .diffStars i {
	color: #ffcb35;
}

.qPanel .well {
	background-color: white;
}

 .fullscreen:-webkit-full-screen {
      min-width: 100% !important;
      min-height: 100% !important;
      margin:auto !important;
  }
     .fullscreen:-moz-full-screen {
      min-width: 100% !important;
      min-height: 100% !important;
      margin:auto !important;
  }
     .fullscreen:-ms-fullscreen {
      min-width: 100% !important;
      min-height: 100% !important;
      margin:auto !important;
  }     

/*
.panel-blue > .panel-heading {
    background-image: none;
    background-color: #22A7F0;
    color: white;
}
*/

.nextBtn i, .prevBtn i  {
	color: white;
}

.prevBtn {
	margin-left: 5px;
}

.yellowbg {
	background-color: #ffcb35;
}

.redbg {
	background-color: #e14825;
}

.qTitle {
	color: white;
	border-radius: 10px;
	padding: 10px;
}

.label-yellow {
	background-color: #ffcb35;
	font-size: 1.1em;
}

.label-blue {
	background-color: #22A7F0;
	color: white;
	padding: 1px 5px;
}

.label-blue:hover {
	background-color: #87CEEB;
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#myCarousel {
	margin-bottom: 10px;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}

.carousel h1{
	color: white;
}

.carousel-caption {
	/*background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px;*/
}

.label-as-badge {
	 border-radius: 1em;
	 padding: 5px 10px ;
}

.font-fix {
	color: #333333;
}

.qNumber {
	font-size:1.1em;
	padding: 10px;
	margin-top: 5px;
}

.qFooting {
	margin-top: 15px;
	margin-bottom: 5px;
}

.qNumber .qCurrent {
	color: #ffcb35;
}

.qCanvas {
	background-color: white;
	border-radius: 5px;
}

.success, .success i{
	color: #179917;
}

#searchResults{
	margin: 0 auto;
}

#searchBar{
	margin-right: 40px;
}

.danger, .danger i{
	color: #e14825;
}

.redbg {
	background-color:  #e14825;
	border-color: #e14825;
}

.dropOrder{
	padding-bottom: 10px;
}

.qResult .panel-heading {
	background-color: white;
	color: #22A7F0;
}

.qResult .panel-body{
	background-color: #ffcb35;
}

.qResult .panel-heading h3 {
	padding-bottom: 15px;
}

.userMgmt, #topicList {
	margin: 0 auto;
}

#topicList .list-group {
	margin: 0 auto;
}

#newTopic {
	margin-top: 10px;
}

.answerBlock {
	display: block;
}



.answerBlock img, .answerBlock video, .answerBlock audio{
	width: 100%;
	max-width: 200px; 
	height: auto;
	overflow: hidden;
	display:inline;
}

.answerBlock audio{
	display: inline-block;
	vertical-align: bottom;
	margin-top: 30px;
}

@media(min-width:768px){
	.answerBlock img, .answerBlock audio {
		width: 100%;
		max-width: 300px;
	}
	.answerBlock video {
		width: 100%;
		max-width: 400px;
	}
}

@media(min-width:480px) and (max-width:768px){
	.answerBlock img, .answerBlock audio {
		width: 100%;
		max-width: 250px;
	}
}

@media(min-width:360px) and (max-width:768px){}
.answerBlock video {
	width: 100%;
	max-width:300px;
}

@media (max-width: 240px){
	 .answerBlock video {
		max-width: 100px;
	 }
	 .answerBlock audio{
		 max-width: 60px;
	 }
}


.answerBlock .btn {
	vertical-align: top;
	border-radius: 10px;
}

.answerBlock input[type="checkbox"] {
	vertical-align: top;
	margin-top: 10px;
}

.answerBlock textarea {
	max-width: 200px;
	max-height: 100px;
	resize: both;
	min-width: 20px;
	min-height: 10px;
	margin-top: 5px;
	border-radius: 5px;
}

#classes {
	width:500px; margin:0 auto;
}

#classes .badge, #instList .badge, #classList .badge {
	background-color: #ffcb35;
}

 #instList > .list-group-item,  #classList > .list-group-item{
	background-color: #f3f3f3;
	padding-bottom: 20px;
}

#instList a, #classList a {
	text-decoration: underline;
	color: #22A7F0;
}

#instList .collapse a, #instList .btn  a, #classList .collapse a, #classList .btn a{
	text-decoration: none;
}

 .block {
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid #d3d3d3;
}
/*
#instList .important{
	color:white;
}*/

#instList .btn {
	background-color: white;
	box-shadow: 1px 1px 0 #d3d3d3;
	border-radius: 5px;
}

#classes .btn{
	background-color: #e14825;
}


.space {
	padding-left: 10px;
}

@media(min-width:768px){
	.qOpenContainer .space{
		padding-left: 20px;
	}
}

.space-vertical {
	padding-top: 10px;
	padding-bottom: 10px;
}

.important{
		text-transform: uppercase;
		font-weight: bold;
}

#instList, #classList {
	width: 800px; margin: 0 auto;
}

.answContainer{
	padding: 20px;
	max-width: 530px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #ededed;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 0 0 3px #d3d3d3;
}

.adminPanel {
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #ededed;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 0 0 3px #d3d3d3;
}

.qtfContainer {
	width: 150px;
	background-color: white;
	margin: 0 auto;
}

.qOpenContainer {
	background-color: white;
	max-width: 370px;
	border-radius: 10px;
	margin: 0 auto;
}


.solveMatching .drag {
	margin: 10px;
	display: block;
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 400px;
}

@media (min-width: 1000px){
		.solveMatching .drag audio{
		max-width: 200px;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {
	.solveMatching .drag audio{
		max-width: 180px;
	}
}

@media (min-width: 768px) {
	.solveMatching .drag img{
		width: 100%;
		max-width: 400px;
		height: auto;
		max-height: 400px;
	}
	
}

@media (min-width: 480px) and (max-width: 768px) {
	.solveMatching .drag img{
		width: 100%;
		max-width: 300px;
		height: auto;
		max-height: 400px;
	}
	.solveMatching .drag audio{
		max-width: 200px;
	}
}

@media (min-width: 240px) and (max-width: 480px) {
	.solveMatching .drag img{
		width: 100%;
		max-width: 200px;
		height: auto;
		max-height: 400px;
	}
	.solveMatching .drag audio{
		max-width: 80px;
	}
}

.solveMatching .drag input[type="number"]{
	font-size: 0.9em;
	margin-top:0px;
	margin-right: 5px;
}


.qComplContainer .answerBlock{
	line-height: 200%;
	border-radius: 10px;
	padding: 20px;
}


.qComplContainer .drag{
	margin: 0 5px;
}

.drag {
	display: inline-block;
	border: 1px solid #d3d3d3;
	background-color: white;
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
}

#complText .btn {
	color: white;
}

.answerBlock .btn, #linksList .btn{
	display: inline-block;
	vertical-align: top;
	color:#e14825;
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#linksList button {
	margin-left: 10px;
	box-shadow: 0 0 3px #d6d6d6;
}


.btn-primary a {
	color: white;
	text-decoration: none;
}

.answerBlock .btn:hover, #complText .btn:hover, #linksList .btn:hover{
    text-decoration:none;
    color:#590000;
}

#complText .badge {
	margin-left: -5px;
}

.btn-xxs {
	/*background-color: #22A7F0;*/
	font-size: 8px;
	padding: 1px 3px;
	margin-left: 3px;
	
}

.btn-xxs i {
	color: white;
	padding-top: 2px;
}

.drag .label {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-right: 5px;
}

.drag .label-exec {
	margin-top: 2px;
} 

.answerBlock .btn i {
	font-size: 1.1em;
}


.answerBlock input[type="number"]{
	display: inline-block; 
	vertical-align: top;
	margin-top: 4px;
	font-weight: bold;
	max-width: 30px;
} 

.matching input[type="number"]{
	margin-top: 5px; 
	margin-right: 5px;
}

.answerBlock input[type="file"]{
	display: inline-block; 
	max-width: 200px;
	margin-top: 5px;
} 

.matching, .solveMatching {
	margin: 0 auto;
}

.prev-text {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}

.border-right {
	border-right: 1px solid white;
}

.matching .answerBlock , .solveMatching .answerBlock{
	padding: 20px 0 10px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #22A7F0;
}

.matching input[type="text"] {
    max-width: 110px;
}

.matching img, .solveMatching img {
	width: 80px; height: auto;
}

.matching .label-margin, .solveMatching .label-margin{
	margin-left: 10px;
}

.matching h4 , .solveMatching h4{
	color: white;
	display: inline;
	margin-bottom: 10px;
}

.rowTitle{
	width:150px;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.droppable {
	width: 100px; 
	height: 100px;
	margin-left: 5px;
	background-color: #ffcb35;
	padding: 10px 0;
	margin-bottom: 10px;
	border-radius: 10px;
}

.drop {
	width: 100px; height: 30px;
	margin: 0 5px;
	background-color: white;
	padding: 10px 0;
	display: inline-block;
	vertical-align: bottom;
}

.right-ctr-btn {
	position: absolute; right: 5px; bottom: 5px;
}

#linkAnswers {
	margin-bottom: 20px;
}

#linksList {
	clear:both;
	background-color: #ffcb35;
}

.answerBlock a{text-decoration: none;}

.answerBlock .badge {
	vertical-align: top;
	margin-right: 10px;
	margin-top: 5px;
}

.bluebg {
	background-color: #22A7F0;
}

/* forms */

.thumbnail img{
	width:50px;
	height: auto;
	padding: 5px;
	display: block;
	float: left;
}

.thumbnail-big img{
	width:100%;
	max-width: 100px;

}

.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form button[type="submit"] {
	margin-top: 20px;
}

.form .text-muted {
	margin-top:10px;
}

#searchResults {
	padding-top: 20px;
}

.thumbnail{
	padding: 10px;
}

#toggle {
	float: right;
}

#searchBar {
	float: left;
	width: 300px;
	padding-right: 20px;
}

.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form .form-heading,
.form .checkbox{
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.select2 {
        width: 100% !important;
}

#topics {
	padding-top: 20px;
	max-width: 300px;
}

#topicList {
	float: none;
	margin: 0 auto;
}

/* header */
/* #22A7F0 - #86cff7 */

.qIcon {
	padding: 0 20px;
}

.qIcon:hover{
	background-color: #eeeeee;
	color: #22A7F0;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #333333;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #eeeeee;
	color: #22A7F0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #eeeeee;
	color: #22A7F0;
}

img{
	height: 50px;
	width: auto;
	padding:8px;
}

.top-nav {
    padding: 0 15px;
	color: #333333;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #333333;
}

.blue {
	color: #22A7F0;
}


.bgblue {
	background-color: #22A7F0;
}

.pagination>li>a{
	color: #22A7F0;
}

.pagination>li.active>a{
	background-color: #22A7F0;
	color: white;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    background-color: #eeeeee;
	color: #22A7F0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.open>a,
.dropdown-menu>.open>a:hover,
.dropdown-menu>.open>a:focus {
	background-color: #eeeeee;
	color: #22A7F0;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.limit-width {
	max-width:100%; overflow: hidden;
}

.header {
	padding-bottom:51px;
}

.fckn-stick-to-header{
	margin-top: -20px;
}

@media (max-width: 830px) {
  .qIcon {
	  padding: 0 5px;
  }
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:white;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:white;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: white;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: white;
        border-top:0 none;
    }
}

@media(max-width:400px){
	.list1-width-fix{
		margin-left:-10px;
	}
	.qPanel{
		margin-top: 20px;
	}
}

.badge {
	margin-bottom: 4px;
}


.pagewrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
	padding-bottom: 70px;
}

.footer {
	position: static;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #f3f3f3;
	border-top: 1px solid #e7e7e7;
	padding: 5px 0;
}



/* profile */
.team{
    padding-top: 10px;
}

h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}

.profile img {
	max-height: 200px; width: auto;
}

.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(192, 225, 243, 0.46);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
} 
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}

.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a{
    color:#00b3ca;
}
a:hover{
    text-decoration:none;
    color:#00b3ca;
}
i.red{
    color:#BC0213;
}

.hiddenText {
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#showText:hover .hiddenText {
  visibility: visible;
  opacity: 1;
}

.fileupload-preview {
	width: 200px; 
	height: 150px;
}

.hidden-block {
	display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* requests */

.request{
	margin-top: 25px;
	max-width: 200px;
}
.request h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.request h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}

.request .img{margin: 0 auto;}

.request .img-box{
	opacity: 1;
	display: block;
	position: relative;
	width: 100px;
	height: auto;
	margin-left: auto; margin-right: auto;
}
.request .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.request .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a{
    color:#00b3ca;
}
a:hover{
    text-decoration:none;
    color:#00b3ca;
}
i.red{
    color:#BC0213;
}

/* signup */

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input {
	z-index: 1;
}

.userMgmt img{
	width: 100px;
	height: 100%;
}

.grey-btn i{
	color: #333333;
}

.list1-width-fix{
	min-width:350px;
}

.list2-width-fix{
	min-width:420px;
}

.attachment img{
	width:100%;
	max-width: 500px;
	height: auto;
}

.attachment video{
	width:100%;
	max-width: 500px;
	height: auto;
	padding: 20px 0;
}

.attachment audio {
	max-width: 300px;
	padding: 10px 0;
}

@media(max-width:414px){
audio::-webkit-media-controls-enclosure {
    max-width: 100px;
	clear:both;
	display: block;
	
}
}

.attachment .well {
	max-width: 400px;
	margin-top: 40px;
}