<!DOCTYPE html>
<html lang="en" ng-app="ProfileManager">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<script src="./assets/js/jquery-1.11.0.min/jquery-1.11.0.min.js"></script>
    <script src="./assets/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/img/favicon.ico">

    <title>Cambio Password</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

	<!-- quizzipedia.base.css -->
	<link href="./assets/css/quizzipedia.base.css" rel="stylesheet">
	
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>

	<script type="text/javascript" src="./public/core.js"></script>
	<script type="text/javascript" src="./public/profile/CtrlUserManager.js" ></script>
    <script type="text/javascript" src="./public/header/CtrlHeader.js" ></script>
      
    <!-- Directive angular (HEADER)-->
    <script type="text/javascript" src="./public/header/headerLogged.js"></script>
    <script type="text/javascript" src="./public/header/headerLoggedStudent.js"></script>
    <script type="text/javascript" src="./public/header/headerLoggedTeacher.js"></script>
    <script type="text/javascript" src="./public/header/headerLoggedDirector.js"></script>
    <!--Directive angular (FOOTER)-->
    <script type="text/javascript" src="./public/footer/pageFooter.js"></script> 
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>

  <body>
	<div class="pagewrap" ng-controller="CtrlHeader">
        
        <div >        
          <header-Logged ng-if="user.role == 'noRole'"></header-Logged>        
          <header-logged-student ng-if="user.role == 'student'"></header-logged-student>         
          <header-logged-teacher ng-if="user.role == 'teacher'"></header-logged-teacher>         
          <header-logged-director ng-if="user.role == 'director'"></header-logged-director>
	</div>
    
        <div class="row-fluid breadcrumb-div">
            <ol class="breadcrumb" id="breadcrumb">
                <li>
                    Sei in: <a href = "/Quizzipedia/home"><i class="glyphicon glyphicon-home"> </i> Home</a>
                </li>
                <li class="active">
                    <a href = "/Quizzipedia/profile"><i class="glyphicon glyphicon-user"> </i> Profilo</a>
                </li>
                <li class = "active">
                    Cambia password
                </li>
            </ol>
        </div>
        
		<div class="container" ng-controller="CtrlUserManager">
			<form class="form" action="/api/profile/set_pswd" method="post">
				<div class="text-center"> 
					<h3 class="formTitle description">Cambia password</h3>
				</div>
				
				<div class="spacer"></div>
				<div class="form-group row">
					<label for="inputOldPassword" class=" form-control-label small"">Password corrente</label>
					<input type="password" name="oldPswd" class="form-control" id="inputOldPassword" placeholder="Password corrente" value="{{ recovering ? user.password : emptystring }}" required>
				</div>

				<div class="form-group row">
					<label for="inputNewPassword" class=" form-control-label small"">Nuova password</label>
					<input type="password" name="newPswd1" class="form-control" id="inputNewPassword" placeholder="Nuova password" required>
				</div>
				
				<div class="form-group row">
					<label for="inputConfirmNewPassword" class=" form-control-label small"">Conferma nuova password</label>
					<input type="password" name="newPswd2" class="form-control" id="inputConfirmNewPassword" placeholder="Conferma nuova password" required>
				</div>
				
				<!-- <span class="help-block"><p id="characterLeft" class="help-block ">Password must be [rules]</p></span> -->
			<button id="submitPwd" type="submit" class="btn btn-primary pull-right">Conferma</button>
			</form>
		</div>
 <!-- end of form -->
	</div>
      <page-footer></page-footer>
  </body>
</html>
