<!DOCTYPE html>
<html lang="en" ng-app="QuizSolver">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	 <script src="./assets/js/jquery-1.11.0.min/jquery-1.11.0.min.js"></script>
    <script src="./assets/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <meta name="description" content="">
    <meta name="Autore" content="">
    <link rel="icon" href="./assets/img/favicon.ico">

    <title>Svolgimento quiz</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- quizzipedia.base.css -->
	<link href="./assets/css/quizzipedia.base.css" rel="stylesheet">
      
      <!-- select2.js -->
	<link href="./assets/js/select2-4.0.2/dist/css/select2.min.css" rel="stylesheet" />
	<script src="./assets/js/select2-4.0.2/dist/js/select2.min.js"></script>
	
	<!-- chained.js -->
	<script src="./assets/js/jquery.chained.min.js"></script>
	
	<!-- fabric.js -->
	<script src="./assets/js/fabric.js-1.6.1/dist/fabric.min.js"></script>
	
	<!-- draggable.js -->
	<link href="./assets/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
	<script src="./assets/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
       
      
      <!-- ANGULAR -->
      <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
      
      <script type="text/javascript" src="./public/core.js"></script>
      <script type="text/javascript" src="./public/quiz_execution/quizExecDirectives.js"></script>
      <script type="text/javascript" src="./public/quiz_execution/CtrlQuizExec.js"></script>
      <script type="text/javascript" src="./public/services/AnswerQuestion.js"></script>
      <script type="text/javascript" src="./public/services/AnswerTrueFalseQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerShortAnswerQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerMultipleChoiceQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerCompletionQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerMatchingQElement.js"></script>
      <script type="text/javascript" src="./public/services/AnswerMatchingQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerQuiz.js"></script>
       <!--<script type="text/javascript" src="./public/header/CtrlHeader.js"></script>
      <script type="text/javascript" src="./public/header/headerLoggedTeacher.js"></script>
      -->
      
      
      <!--<script type="text/javascript" src="./public/services/GenericQuestion.js"></script>
      <script type="text/javascript" src="./public/services/TrueFalseQ.js"></script>
      <script type="text/javascript" src="./public/services/ShortAnswerQ.js"></script>
      <script type="text/javascript" src="./public/services/Attachment.js"></script>
      <script type="text/javascript" src="./public/services/AnswerMultipleChoice.js"></script>
      <script type="text/javascript" src="./public/services/MultipleChoiceQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerCompletion.js"></script>
      <script type="text/javascript" src="./public/services/TextCompletion.js"></script>
      <script type="text/javascript" src="./public/services/CompletionQ.js"></script>
      <script type="text/javascript" src="./public/services/AnswerMatchingElement.js"></script>
      <script type="text/javascript" src="./public/services/MatchingQ.js"></script> -->
	
      <!-- SCRIPT PER ng-file-upload-->
      <script src="./assets/ng-file-upload-bower-12.0.4/ng-file-upload-shim.min.js"></script>
      <script src="./assets/ng-file-upload-bower-12.0.4/ng-file-upload.min.js"></script>
      
      
      
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="container pagewrap" ng-controller="CtrlExecutionQuiz">
		<!-- first page panel -->
		<div class="panel panel-default qPanel">
			<!-- panel heading -->
			<div class="panel-heading">
				<!-- if quiz is private -->
				<div class="row instClass">
					<p class="col-md-6 col-sm-6 col-xs-6">{{quiz.institution}}</p>
					<p class="col-md-6 col-sm-6 col-xs-6 text-right" ng-if="quiz.classes.length == 0">Pubblico</p>
                    <p class="col-md-6 col-sm-6 col-xs-6 text-right" ng-if="quiz.classes.length > 0">Privato</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-6 col-xs-offset-1 quizTitle">
						<h3 class="panel-title text-center"><i class="glyphicon glyphicon-th-list"></i> {{quiz.title}}</h3>
						<p class="text-center">{{quiz.author}}</p>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 tinybox">
						<p class="text-center">{{quiz.topic}}</p>
						<!-- custom stars according to difficulty -->
						<span class="diffStars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
					</div>
				</div>
			</div>
			<!-- end of panel heading -->
			<!-- beginning of body -->
			<div class="panel-body" ng-if="true"> <!-- DA NASCONDERE SE LO SVOLGIMENTO è INIZIATO-->
				<!-- description -->
				<div class="panel panel-default quizDescr">
					<div class="panel-heading">
						<h6 class="text-center">Descrizione</h6>
					</div>
					<div class="panel-body">
						<p class="text-center">{{quiz.description[0]}} </p>
					</div>
				</div>
				<!-- end of description -->
				<!-- optional canvas for attachment-->
				<div>
					<canvas class="qCanvas col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" id="quizCanvas" width="500" height="200"></canvas>
				</div>
				<div class="clearfix"></div> <!-- DA TOGLIERE -->
				<div class="text-center pull-bottom"><button class="btn btn-lg btn-primary" id="startQuiz" type="button">Inizia</button></div>
				<!-- end of canvas -->
			</div>
            
            <div class="panel-body" >
                <!-- QUI INSERISCO LE DIRETTIVE DELLE DOMANDE-->
                <quiz-exec-true-false ng-if="false"></quiz-exec-true-false>
                <quiz-exec-multiple ng-if="false"></quiz-exec-multiple>
                <quiz-exec-open ng-if="false"></quiz-exec-open>
                <quiz-exec-completion ng-if="false"></quiz-exec-completion>
                <quiz-exec-matching ng-if="false"></quiz-exec-matching>
            
            
            </div>
		</div>
        
        
        
        {{answerQuiz | json}}
        
			<!-- end of panel body -->
        
        
        
        
       <!-- 
        
			
		<!-- question example. heading stays the same, body changes. footer saves page? 
		<div class="panel panel-default qPanel">
			<!-- panel heading 
			<div class="panel-heading">
				<!-- if quiz is private 
				<div class="row instClass">
					<p class="col-md-6 ">Ente</p>
					<p class="col-md-6 text-right">Classe</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 quizTitle">
						<h3 class="panel-title text-center"><i class="glyphicon glyphicon-th-list"></i> Titolo del quiz</h3>
						<p class="text-center">Autore</p>
					</div>
					<div class="col-md-2 tinybox">
						<p class="text-center">Materia</p>
						<!-- custom stars according to difficulty
						<span class="diffStars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
					</div>
				</div>
			</div>
			<!-- end of panel heading -->
			<!-- beginning of body 
			<div class="panel-body">
				<!-- description 
					<div class="row">
						<!-- title 
						<div class="col-md-3">
							<h6 class="text-center">Materia 
								<span class="diffStars">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star-empty"></i>
								</span>
							</h6>
							<h4 class="text-center"><i class="glyphicon glyphicon-question-sign"></i> Titolo della domanda</h4>

						</div>
						<!-- description
						<div class="col-md-6">
							<div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi nisl, pellentesque vitae hendrerit ut, lacinia non quam. </div>
						</div>
						<!-- attachment
						<div class="col-md-3">
							<canvas class="qCanvas" id="questCanvas" width="80" height="80"></canvas>
						</div>
					</div>
					<!-- end of row -->
					<!-- question body - variable structure depending on qtype 
						<div>
							<canvas class="qCanvas col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" id="quizCanvas" width="500" height="400"></canvas>
						</div>
					<!-- end of question body 
					<div class="clearfix"></div>
					<div class="row qFooting">
						<div class="col-md-offset-1 text-center">
						<span class="badge qNumber"><span class="qCurrent">1</span>/10</span>
						<span data-placement="top" data-toggle="tooltip" title="Next"><button class="btn btn-lg btn-primary nextBtn pull-right" type="button"><i class="glyphicon glyphicon-arrow-right"></i></button></span>
						</div>
				 </div>
			</div>
		</div>
		<!-- end of panel body -->
		
		<!-- MIDDLE question 
		<div class="panel panel-default qPanel">
			<!-- panel heading 
			<div class="panel-heading">
				<!-- if quiz is private 
				<div class="row instClass">
					<p class="col-md-6 ">Ente</p>
					<p class="col-md-6 text-right">Classe</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 quizTitle">
						<h3 class="panel-title text-center"><i class="glyphicon glyphicon-th-list"></i> Titolo del quiz</h3>
						<p class="text-center">Autore</p>
					</div>
					<div class="col-md-2 tinybox">
						<p class="text-center">Materia</p>
						<!-- custom stars according to difficulty 
						<span class="diffStars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
					</div>
				</div>
			</div>
			<!-- end of panel heading -->
			<!-- beginning of body 
			<div class="panel-body">
				<!-- description 
					<div class="row">
						<!-- title 
						<div class="col-md-3">
							<h6 class="text-center">Materia 
								<span class="diffStars">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star-empty"></i>
								</span>
							</h6>
							<h4 class="text-center"><i class="glyphicon glyphicon-question-sign"></i> Titolo della domanda</h4>

						</div>
						<!-- description 
						<div class="col-md-6">
							<div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi nisl, pellentesque vitae hendrerit ut, lacinia non quam. </div>
						</div>
						<!-- attachment 
						<div class="col-md-3">
							<canvas class="qCanvas" id="questCanvas" width="80" height="80"></canvas>
						</div>
					</div>
					<!-- end of row -->
					<!-- question body - variable structure depending on qtype 
						<div>
							<canvas class="qCanvas col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" id="quizCanvas" width="500" height="400"></canvas>
						</div>
					<!-- end of question body 
					<div class="clearfix"></div>
					<div class="row qFooting">
						<div class="col-md-6">
							<span data-placement="top" data-toggle="tooltip" title="Previous"><button class="btn btn-lg btn-primary prevBtn pull-left" type="button"><i class="glyphicon glyphicon-arrow-left"></i></button></span>
						</div>
						<div class="col-md-offset-1 text-center">
						<span class="badge qNumber"><span class="qCurrent">2</span>/10</span>
						<span data-placement="top" data-toggle="tooltip" title="Next"><button class="btn btn-lg btn-primary nextBtn pull-right" type="button"><i class="glyphicon glyphicon-arrow-right"></i></button></span>
						</div>
					</div>
				 </div>
			</div>
		<!-- end of panel body -->
		
		<!-- LAST question 
		<div class="panel panel-default qPanel">
			<!-- panel heading 
			<div class="panel-heading">
				<!-- if quiz is private 
				<div class="row instClass">
					<p class="col-md-6 ">Ente</p>
					<p class="col-md-6 text-right">Classe</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 quizTitle">
						<h3 class="panel-title text-center"><i class="glyphicon glyphicon-th-list"></i> Titolo del quiz</h3>
						<p class="text-center">Autore</p>
					</div>
					<div class="col-md-2 tinybox">
						<p class="text-center">Materia</p>
						<!-- custom stars according to difficulty 
						<span class="diffStars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
					</div>
				</div>
			</div>
			<!-- end of panel heading -->
			<!-- beginning of body 
			<div class="panel-body">
				<!-- description 
					<div class="row">
						<!-- title
						<div class="col-md-3">
							<h6 class="text-center">Materia 
								<span class="diffStars">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star-empty"></i>
								</span>
							</h6>
							<h4 class="text-center"><i class="glyphicon glyphicon-question-sign"></i> Titolo della domanda</h4>

						</div>
						<!-- description 
						<div class="col-md-6">
							<div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi nisl, pellentesque vitae hendrerit ut, lacinia non quam. </div>
						</div>
						<!-- attachment 
						<div class="col-md-3">
							<canvas class="qCanvas" id="questCanvas" width="80" height="80"></canvas>
						</div>
					</div>
					<!-- end of row -->
					<!-- question body - variable structure depending on qtype 
						<div>
							<canvas class="qCanvas col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" id="quizCanvas" width="500" height="400"></canvas>
						</div>
					<!-- end of question body 
					<div class="clearfix"></div>
					<div class="row qFooting">
						<div class="col-md-6">
							<span data-placement="top" data-toggle="tooltip" title="Previous"><button class="btn btn-lg btn-primary prevBtn pull-left" type="button"><i class="glyphicon glyphicon-arrow-left"></i></button></span>
						</div>
						<div class="col-md-offset-1 text-center">
						<span class="badge qNumber"><span class="qCurrent">10</span>/10</span>
						<span data-placement="top" data-toggle="tooltip" title="Last"><button class="btn btn-lg btn-primary nextBtn btn-success pull-right" type="button"><i class="glyphicon glyphicon-ok"></i></button></span>
						</div>
					</div>
				 </div>
			</div>
		<!-- end of panel body -->
		
		<!-- GRADE 
		<div class="panel panel-default qPanel">
			<!-- panel heading 
			<div class="panel-heading">
				<!-- if quiz is private 
				<div class="row instClass">
					<p class="col-md-6 ">Ente</p>
					<p class="col-md-6 text-right">Class</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 quizTitle">
						<h3 class="panel-title text-center"><i class="glyphicon glyphicon-th-list"></i> Titolo del quiz</h3>
						<p class="text-center">Autore</p>
					</div>
					<div class="col-md-2 tinybox">
						<p class="text-center">Materia</p>
						<!-- custom stars according to difficulty 
						<span class="diffStars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
					</div>
				</div>
			</div>
			<!-- end of panel heading -->
			<!-- beginning of body 
			<div class="panel-body qResult">
			<!-- grade 
				<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<i class="glyphicon glyphicon-pencil"></i> RISULTATO 
							<span class="label label-success">18/30</span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item">
								<i class="success glyphicon glyphicon-ok pull-right" style="color: #179917;"></i> 1. Title
							</a>
							<a href="#" class="list-group-item">
								<i class="danger glyphicon glyphicon-remove pull-right" style="color: #e14825;"></i> 2. Title
							</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div> -->
		<!-- end of panel body -->
	</div>
  </body>
</html>






