		<!-- answers -->
		<div class="form-group row text-center">
			<h4 class="text-center">Risposte</h4>
				<!-- new upload -->
				<div class="form-group row form">
					<!-- <label for="inputDescription" class=" form-control-label"></label><br> -->
					
                    <!--QUESTO FUNZIONA<span class="btn btn-default " data-placement="top" data-toggle="tooltip" title="Upload attachment" ng-click="MyMultipleChoiceQ.preUpload(MyMultipleChoiceQ.size)">   
                        <!-- STO MODIFICANDO QUI
                        
						<i class="glyphicon glyphicon-upload"></i> <!--<input type="button" id="newAttach" ng-click="MyMultipleChoiceQ.preUpload(MyMultipleChoiceQ.size); MyMultipleChoiceQ.size = MyMultipleChoiceQ.size+1 ">--> <!--onchange="loadFile(event)"
                        
					</span>-->
                    
                    <span class="btn btn-default " data-placement="top" data-toggle="tooltip" title="Upload attachment" ng-click="MyMultipleChoiceQ.preUpload(MyMultipleChoiceQ.size)">
                        <!-- STO MODIFICANDO QUI -->
                        
						<i class="glyphicon glyphicon-upload"></i>
                        <!--onchange="loadFile(event)"-->
                        
					</span>
                    
                    
                    
					<!-- <label for="inputDescription" class=" form-control-label"></label><br> -->
					<span class="btn btn-default" type="button" id="newAText" ng-click="MyMultipleChoiceQ.create(MyMultipleChoiceQ.size);"  data-placement="top" data-toggle="tooltip" title="New textarea"> <!-- $root.callWindowMethod('createTextarea', MyMultipleChoiceQ.size);-->
						<i class="glyphicon glyphicon-align-left"></i>
					</span>
				</div>
				<div id="answContainer"> 
					<!-- CREAZIONE HTML NUOVI ELEMENTI CARICATI: <div class="answerBlock"><div class="drag"><checkbox><allegato><pulsante X></div></div> -->
				
					<div class="answerBlock" id="newBlock">
					<!--  creare dinamicamente answerBlock con id newBlock# e stampare contenuti usando createTextArea() e loadFile() -->
					<!--  upload sballato se si aggiungono + elementi senza ricaricare perchè gli id non sono incrementati -->
                        
                        <div class="answerBlock" ng-repeat="q in MyMultipleChoiceQ.question.answers track by $index"> <!-- METTERE UN BEL NG-REPEAT-->
                                <!-- ng-repeat="q in MyMultipleChoiceQ.question.answers track by $index" -->
                            
                            <div class="drag" id="{{$index}}">
                                <input type="checkbox" ng-model="MyMultipleChoiceQ.question.correctAnswer[$index]">
                                
                                
                                <textarea ng-if="MyMultipleChoiceQ.question.answers[$index] !== null " type="textarea" placeholder="Answer..." name="ta1" id="ta1" cols="15" rows="1" ng-model="MyMultipleChoiceQ.question.answers[$index]"></textarea>
                                
                                
                                <!--<form ng-if="MyMultipleChoiceQ.question.answerAttachment[$index] !== null" name="uploadForm">
                                    <input type="file" ngf-select ng-model="picFile" name="file" accept="img/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                                    
                                    <i ng-show="uploadForm.file.$error.required">* required</i>
                                    <i ng-show="uploadForm.file.$error.maxSize">File troppo grande {{errorFile.size / 1000000|number:1}}MB: max 2MB</i>
                                    <img ng-show="uploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                                
                                    <button  ng-click="uploadPic(picFile)">Upload</button> 
                                    
                                    <span class="progress" ng-show="picFile.progress >= 0">
                                        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                                    </span>
                                    <span ng-show="picFile.result">Upload completato</span>
                                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                    
                                    {{picFile.result.result.name| json}}
                                        
                                    
                                    
                                </form>-->
                                
                                
                                
                                <!--a href="#"><i class="glyphicon glyphicon-remove"></i></a>-->
                                <button class="btn" style="display:inline;" ng-click="MyMultipleChoiceQ.remove($index)"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>
                        
                        
                        
					</div>
				
                    
                    
                    
                    
                    {{MyMultipleChoiceQ | json}}
					<!--<div class="answerBlock">
						<div class="drag">
							<input type="checkbox" value="answ1">
							<textarea type="textarea" placeholder="Answer..." name="ta1" id="ta1" cols="15" rows="1"></textarea>
							<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div>
					<div class="answerBlock">
						<div class="drag">
							<input type="checkbox" value="answ2">
							<textarea type="textarea" placeholder="Answer..." name="ta2" id="ta2" cols="15" rows="1"></textarea>
							<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div>
					<div class="answerBlock">
						<div class="drag">
							<input type="checkbox" value="answ3">
							<video id="video1" height="100" style="padding-left: 5px;" controls="controls" onclick="toggleFullScreen()">
							<source src="http://html5demos.com/assets/dizzy.mp4">
							<source src="http://html5demos.com/assets/dizzy.ogv">
						</video>
							<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div>
					<div class="answerBlock">
						<div class="drag">
							<input type="checkbox" value="answ4">
							<img src="./public/question_creation/test.png" class="resize" id="img1"/>
							<a href="#" ><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div> -->
				</div> 
		</div>
	
  	<script language="javascript" type="text/javascript">
	/*$(document).ready(function() {
		$('.drag').draggable(); //aggiunto
	});*/
	// fullscreen toggle for video
	function toggleFullScreen() {
		var elem = document.getElementById("video1");
		if (elem.requestFullscreen) {
		  elem.requestFullscreen();
		} else if (elem.msRequestFullscreen) {
		  elem.msRequestFullscreen();
		} else if (elem.mozRequestFullScreen) {
		  elem.mozRequestFullScreen();
		} else if (elem.webkitRequestFullscreen) {
		  elem.webkitRequestFullscreen();
		}
	};//aggiunto

	/*function createTextarea() { //value="answ0"
		$("#newBlock").append($('<div class="answerBlock"><div class="drag" id="index"><input type="checkbox" ng-model="MyMultipleChoiceQ.question.correctAnswer[0]"><textarea type="textarea" placeholder="Answer..." name="ta1" id="ta1" cols="15" rows="1" ng-model="MyMultipleChoiceQ.question.answers[0]"></textarea><a href="#"><i class="glyphicon glyphicon-remove"></i></a></div></div>'));
		$('.drag').draggable(); //ogni nuovo elemento è reso draggable
        
	   }; //aggiunto*/
        
	/*var loadFile = function(event) {
		$("#newBlock").append($( '<div class="drag" id="drag1"><input type="checkbox" value="answ0"><img id="output1" class="img-responsive"/>'));
		var reader = new FileReader();
		reader.onload = function(){
		  var output = document.getElementById('output1');
		  output.src = reader.result;
		};
        
        reader.readAsDataURL(event.target.files[0]);
		$("#drag1").append($( '<a href="#"><i class="glyphicon glyphicon-remove"></i></a></div>'));    
		
		$('.drag').draggable(); //ogni nuovo elemento è reso draggable
	  };*/

	</script>






