<!-- answers -->
		<div class="form-group row text-center">
		<h4>Istruzioni</h4>
			<p>Per collegare una risposta della prima parte con una risposta della seconda parte, attribuire alle risposte lo stesso valore numerico.</p>
			<p>Le risposte il cui valore non avrà un corrispondente nella parte opposta saranno considerate errate.</p>
			<div class="spacer"></div>
			<h4>Risposte</h4>
				
				<div class="matching answContainer">
					<div class="row">
						<div class="answerBlock col-md-12"> <!-- riga di elementi della stessa categoria-->
							<div>
								<a href="#"><span class="label-as-badge label-yellow text-center">A</span></a> <!-- # riga, variabile -->
								<h4>Prima parte</h4>
								<!-- new upload -->
								<div class="form-group row form grey-btn">
									<span class="btn btn-default" type="button" id="newAttach1" data-placement="top" data-toggle="tooltip" title="Carica allegato" ng-click="MyMatchingQ.createAttachment(true)"><i class="glyphicon glyphicon-upload"></i> </span>
									<span class="btn btn-default" type="button" id="newAText1" data-placement="top" data-toggle="tooltip" title="Nuova casella di testo" ng-click="MyMatchingQ.createTextArea(true)"><i class="glyphicon glyphicon-align-left"></i></span>
								</div>
							</div>
                            <div ng-repeat="element in MyMatchingQ.questionMatch.text track by $index">
							     <div class="drag ui-widget-content">
								    <input id="answNumber+{{$index}}" type="number" min="-1" step="1" placeholder="1" ng-model="element.id" required />
								    <textarea ng-if="element.txt != null" type="textarea" placeholder="Answer..." name="ta1" id="ta+{{$index}}" cols="8" rows="1" ng-model="element.txt"></textarea>
                                     <!-- QUI VA L'INPUT PER GLI ALLEGATI-->
                                     <input ng-if="element.attachment != null" type="file" ng-click="MyMatchingQ.setDestination('text')" ngf-select="uploadFiles($files,'answer',{{$index}})" name="file+{{$index}}" ngf-pattern="image/*,video/*,audio/*" accept="image/*,video/*,audio/*" ngf-max-size="20MB">
								    <span class="btn btn-xs" ng-click="MyMatchingQ.removeTextElement($index)"><i class="glyphicon glyphicon-remove"></i></span>
							     </div>
                            
                            </div>
						</div>
					</div>
					
					<div class="row">					
						<div class="answerBlock col-md-12">
							<div>
								<a href="#"><span class="label-as-badge label-yellow text-center">B</span></a>
								<h4>Seconda parte</h4>
								<!-- new upload -->
								<div class="form-group row form grey-btn">
									<span class="btn btn-default" type="button" id="newAttach2" data-placement="top" data-toggle="tooltip" title="Carica allegato" ng-click="MyMatchingQ.createAttachment(false)"><i class="glyphicon glyphicon-upload"></i> </span>
									<span class="btn btn-default" type="button" id="newAText2" data-placement="top" data-toggle="tooltip" title="Nuova casella di testo" ng-click="MyMatchingQ.createTextArea(false)"><i class="glyphicon glyphicon-align-left"></i></span>
								</div>
							</div>
                            <div ng-repeat="element in MyMatchingQ.questionMatch.answer track by $index">
							     <div class="drag ui-widget-content">
								    <input id="answNumber+{{$index}}" type="number" min="-1" step="1" placeholder="1" ng-model="element.id" required />
								    <textarea ng-if="element.txt != null" type="textarea" placeholder="Answer..." name="ta+{{$index}}" id="ta1" cols="8" rows="1" ng-model="element.txt"></textarea>
                                     <input ng-if="element.attachment != null" type="file" ng-click="MyMatchingQ.setDestination('answer')" ngf-select="uploadFiles($files,'answer',{{$index}})" name="file+{{$index}}" ngf-pattern="image/*,video/*,audio/*" accept="image/*,video/*,audio/*" ngf-max-size="20MB" >
								    <span class="btn btn-xs" ng-click="MyMatchingQ.removeAnswerElement($index)"><i class="glyphicon glyphicon-remove"></i></span>
							     </div>
                            </div>
							
						</div>
					</div>						
					
		</div>
</div>

