<!DOCTYPE html>
<html lang="en" ng-app="StatisticManager">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	 <script src="./assets/js/jquery-1.11.0.min/jquery-1.11.0.min.js"></script>
    <script src="./assets/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <meta name="description" content="">
    <meta name="Autore" content="">
    <link rel="icon" href="./assets/img/favicon.ico">

    <title>Statistiche quiz</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- quizzipedia.base.css -->
	<link href="./assets/css/quizzipedia.base.css" rel="stylesheet">
	      
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
      
    <script type="text/javascript" src="./public/core.js"></script>
	<script type="text/javascript" src="./public/header/CtrlHeader.js" ></script>
	<script type="text/javascript" src="./public/statistics/CtrlStatistics.js" ></script>
      	
    <!-- select2.js -->
	<link href="./assets/js/select2-4.0.2/dist/css/select2.min.css" rel="stylesheet" />
	<script src="./assets/js/select2-4.0.2/dist/js/select2.min.js"></script>
	
	<!-- chained.js -->
	<script src="./assets/js/jquery.chained.min.js"></script>
    <!-- Directive angular (HEADER)-->
	<script src="./public/header/headerLoggedTeacher.js"></script>
	
    <!--Directive angular (FOOTER)-->
    <script type="text/javascript" src="./public/footer/pageFooter.js"></script> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="pagewrap">
	
	    <div ng-controller="CtrlHeader">                
			  <header-logged-teacher ng-if="user.role == 'teacher'"></header-logged-teacher>         
		</div>
		
		<div class="row-fluid breadcrumb-div">
            <ol class="breadcrumb" id="breadcrumb">
                <li>
                    Sei in: <a href = "/Quizzipedia/home"><i class="glyphicon glyphicon-home"> </i> Home</a>
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-stats"> </i> Statistiche quiz
                </li>
            </ol>
        </div>
		
		<div class="container" ng-controller="CtrlStatistics">
			<h4 class="description text-center"><i class="glyphicon glyphicon-th-list"></i> <i class="glyphicon glyphicon-stats"></i> Statistiche dei quiz</h4>
		<!--	<div class="pull-right dropOrder">
				<span>Ordina:</span>
				<span class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Popolari <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="#">Recenti</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Pubblici</a></li>
					<li><a href="#">Privati</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Personali</a></li>
				  </ul>
				</span>
			</div>
			-->
			
			<table class="table table-hover table-striped table-compact qTable">
				<thead>
				<tr>
				<th class="text-center">Titolo</th>
				<th class="text-center">Materia</th>
				<th class="text-center">Livello</th>
				<th class="text-center">Permesso</th>
				<th class="text-center">Svolgimenti</th>
				<th class="text-center">% superamento</th>
				<th class="text-center">Risultato medio</th>
				</tr>
				</thead>
				<tbody class="text-center" ng-repeat="element in quiz.quiz track by $index">
				<!-- row -->
				<tr data-toggle="collapse" data-target="#{{$index}}" class="accordion-toggle" > <!-- se quiz privato mostra classi -->
					<td>{{element.title}}</td>
					<td>{{element.topic}}</td>
					<td>{{element.difficulty}}</td>
					<td>Privato</td>
					<td>{{element.executed}}</td>
					<td ng-if = "element.executed != 0">{{element.percentual}}%</td>
                    <td ng-if = "element.executed == 0">--</td>
					<td ng-if = "element.executed != 0">{{element.avg}}/{{element.total}}</td>
                    <td ng-if = "element.executed == 0">--</td>
				</tr>
				<tr><!-- accordion classi-->
					<td colspan="7" class="hiddentablerow">
						<div class="accordian-body collapse" id="{{$index}}"><span class="important">Classi:</span> <span ng-repeat="class in element.classes">{{class.name}} -  a.s. {{class.academicYear }}; </span></div> 
					</td>
				</tr><!-- fine classi -->

				
				</tbody>
			</table>
            
		</div>
	</div>

	<page-footer></page-footer>
  </body>
</html>
