<!-- Pending Role Tab -->

             
            
            <div ng-if= "pendingRR.length == 0">Nessuna richiesta pendente</div>
            
			<div class="row pt-md" ng-if="pendingRR.length != 0">
                
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 userMgmt text-center" ng-repeat = "request in pendingRR">
				<div class="userMgmt">
					<img src="./assets/img/portraits/usr1.jpg" class="img-rounded" />
				</div>               
			<h4>{{request.firstName}} {{request.lastName}}</h4>
			<p>chiede di diventare <strong>{{request.role}}</strong></p>
            <p>Messaggio:<br>{{request.message}}</p>
			<div class="btn-group">
				<button type="button" class="btn btn-success">
					<span data-placement="top" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok" ng-click="acceptRoleRequest(request.user)"></i> </span>
				</button>
				<button type="button" class="btn btn-danger">
					<span data-placement="top" data-toggle="tooltip" title="Refuse"><i class="glyphicon glyphicon-remove" ng-click="discardRoleRequest(request.user)"></i> </span>
				</button>		
			</div>
			</div>
			<!-- end of single userbox -->	
                
			</div>
		  
		